include methods

- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var pageTitle = (pageTitle || page.title || 'Home') + " - " + theme.user.name + "'s blog"
- var appearance = theme.appearance ? theme.appearance : 'auto'
- var canonicalUrl = page.permalink
- var thumbnail = page.thumbnail || (page.cover && full_url_for(page.cover)) || (getPostCoverImg(page) && full_url_for(getPostCoverImg(page))) || (page.photos?.[0] && full_url_for(page.photos[0])) 
- var description = page.description || page.excerpt || config.description || page.content || pageTitle
- description = truncate( strip_html(description), {length: 150, omission: '..'} )
- var language = page.lang || page.language || config.language || 'zh-TW'
- var authorName = page.author || config.author
- if (typeof authorName === 'object' && typeof authorName.name === 'string') authorName =  authorName.name
- if (typeof authorName === 'object' && typeof authorName.nick === 'string') authorName =  authorName.nick
- if (typeof authorName === 'object' && typeof authorName.nickname === 'string') authorName =  authorName.nickname
- if (is_home()) { description='沒那麼技術的部落格，記錄生活以及各種瑣事'; thumbnail=full_url_for('/images/cover.png'); }
doctype html
html(lang=language class= `appearance-${ appearance }`)
  head
    meta(charset='UTF-8')
    title= pageTitle
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1")
    meta(name='image' content=thumbnail)
    meta(name='original-source' content=canonicalUrl)
    link(rel='canonical' href=canonicalUrl)
    meta(property='og:locale' content=language)
    meta(property='og:type' content='article')
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=description)
    meta(property='og:url' content=canonicalUrl)
    meta(property='og:site_name' content=config.title)
    meta(property='og:image' content=thumbnail)
    meta(name='twitter:title' content=pageTitle)
    meta(name='twitter:image' content=thumbnail)
    meta(name='twitter:description' content=description)
    meta(name='twitter:card' content='summary_large_image')
    meta(name="google-site-verification" content="lTAMT4U8v-CtkYRIo8AmGaACB3EikdUYpiTHAylwGPE")

    <!-- Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-X395CNYSX7")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X395CNYSX7');
    <!-- End Google Analytics -->

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css'))
    link(rel="stylesheet" href= url_for('/style/base.css'))
    link(rel="stylesheet" href= url_for('/style/common/helper.css'))
    script(src= url_for("/js/common.js"))
    block head

  body.is-flex.is-flex-direction-column
    include widget-header
    main
      block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
      section.sns-container
        include widget-sns
      p
        span Copyright ©
        - var author = (theme.user && theme.user.name) || config.author || ''
        span= ' ' + author + ' ' + new Date().getFullYear()
      div.is-flex.is-justify-content-center.is-flex-wrap-wrap
        p Powered by Hexo &verbar;&nbsp;
        p.is-flex.is-justify-content-center
          a(title="Hexo theme author" href='//github.com/haojen') Theme by Haojen&nbsp;
        div(style="margin-top: 2px")
          a(title="github-button" class="github-button" href="https://github.com/haojen/hexo-theme-Claudia" data-color-scheme="no-preference: light; light: light; dark: dark;" data-show-count="true")
      div
        span!= theme.user && theme.user.footnotes

    script(async defer src="https://buttons.github.io/buttons.js")
    block script

